.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  padding: 40px 0;
  height: 110px;
  .container{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    @media screen and (max-width: 992px){
      padding: 0 67px;
    }
    @media screen  and (max-width: 768px){
      padding: 0 20px;
    }
  }
  &-logo{
    width: 100%;
    max-width: 107px;
    margin-right: 58px;
    img, a{
      width: 100%;
    }
  }
  &-nav{
    @media screen and (max-width: 992px){
      display: none;
    }
    ul{
      display: flex;
    }
    li{
      margin-right: 41px;
      &:last-of-type{
        margin-right: 0;
      }
    }
    a{
      display: flex;
      align-items: center;
      font-size: 13px;
      text-transform: uppercase;
      line-height: 100%;
      color: $white;
      font-weight: 500;
      .flag-ua{
        margin-left: 7px;
        width: 15px;
        height: 13px;
        display: inline-block;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='15' height='6.22222' fill='%23007EFF'/%3E%3Crect y='6.22217' width='15' height='6.22222' fill='%23FFD600'/%3E%3C/svg%3E%0A");
      }
      &:hover{
        color: $primary-300;
      }
    }
  }
  &-search{

    margin: 0 0 0 auto;
    display: inline-flex;
    align-items: center;
    position: relative;
    &__button{
      display: inline-block;
      width: 19px;
      height: 20px;
      background: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.47389 0.462917C3.10621 1.00557 1.94032 1.98471 1.13317 3.25877C0.370855 4.46205 -0.0215117 5.92486 0.000909321 7.36407C0.0345408 8.81508 0.47175 10.2661 1.29012 11.434C1.51432 11.7525 1.74974 12.0474 2.00759 12.3305C2.99411 13.3687 4.28331 14.0883 5.6622 14.336C7.06351 14.5719 8.47604 14.3832 9.76524 13.758C10.337 13.4866 10.8639 13.1209 11.3347 12.6844C11.4804 12.8378 11.6262 12.9912 11.7719 13.1445C12.3324 13.7344 12.893 14.3242 13.4647 14.9258C14.1373 15.6337 14.8212 16.3533 15.4938 17.0611C16.088 17.6863 16.6709 18.2997 17.2651 18.925C17.5565 19.2317 17.8256 19.5384 18.1283 19.8333L18.1395 19.8451C18.3301 20.0457 18.6664 20.0575 18.8569 19.8451C19.0363 19.6328 19.0587 19.3025 18.8569 19.0901C18.6215 18.8424 18.3861 18.5947 18.1507 18.3469C17.5902 17.7571 17.0296 17.1673 16.4579 16.5656C15.7853 15.8578 15.1014 15.1382 14.4288 14.4304C13.8346 13.8051 13.2517 13.1917 12.6575 12.5665C12.4558 12.3541 12.254 12.13 12.0522 11.9177C12.3549 11.552 12.6239 11.1509 12.8481 10.7262C13.5095 9.46391 13.8234 7.9893 13.6889 6.55009C13.5544 5.05189 12.9939 3.64806 12.0634 2.49198C11.1553 1.37127 9.88856 0.545496 8.53209 0.191591C7.19804 -0.126925 5.75189 -0.056145 4.47389 0.462917ZM7.45588 1.09995C7.52314 1.11174 7.59041 1.11174 7.66888 1.12354C7.68009 1.12354 7.70251 1.12354 7.71372 1.13534C7.74735 1.14713 7.7922 1.14713 7.82583 1.15893C7.98277 1.18253 8.12851 1.21791 8.28546 1.2651C8.57693 1.34768 8.8684 1.44205 9.14866 1.56002C9.17108 1.57182 9.19351 1.58362 9.20472 1.58362C9.23835 1.59541 9.27198 1.61901 9.31682 1.63081C9.38408 1.66619 9.46256 1.70159 9.52982 1.73698C9.67556 1.80776 9.81008 1.89033 9.94461 1.98471C10.0791 2.06729 10.2137 2.16166 10.3482 2.26783C10.3818 2.29143 10.4154 2.31502 10.4491 2.33861L10.4603 2.35041L10.4715 2.36221C10.5388 2.42119 10.5948 2.46838 10.6621 2.52736C10.9199 2.7633 11.1553 3.01104 11.3796 3.28236C11.4244 3.34135 11.4692 3.40033 11.5253 3.45932L11.5365 3.47111L11.5477 3.48291C11.5701 3.5183 11.5925 3.55369 11.615 3.58908C11.7159 3.74244 11.8168 3.884 11.9064 4.04916C11.9849 4.17892 12.0522 4.30869 12.1194 4.45025C12.1531 4.52103 12.1867 4.60361 12.2203 4.67439C12.2315 4.70978 12.254 4.74517 12.2652 4.79236C12.2764 4.80416 12.2764 4.82775 12.2876 4.83955C12.2876 4.83955 12.2876 4.83955 12.2876 4.85134C12.3997 5.15806 12.5006 5.46478 12.5791 5.78329C12.6127 5.92486 12.6463 6.07822 12.6688 6.21978C12.68 6.25517 12.68 6.30236 12.6912 6.33775C12.6912 6.34954 12.6912 6.36134 12.7024 6.38493C12.7136 6.46751 12.7248 6.56189 12.7248 6.64446C12.7472 6.96298 12.7584 7.29329 12.736 7.61181C12.7248 7.76516 12.7136 7.93032 12.6912 8.08368C12.68 8.11907 12.68 8.17805 12.6688 8.18985C12.6575 8.28423 12.6351 8.3786 12.6127 8.47298C12.5454 8.79149 12.467 9.11 12.3549 9.41672C12.3324 9.4875 12.31 9.54649 12.2876 9.61727C12.2764 9.64086 12.2652 9.66446 12.2652 9.67625C12.254 9.71164 12.2315 9.74703 12.2203 9.79422C12.1531 9.94758 12.0858 10.0891 12.0073 10.2425C11.9289 10.3841 11.8504 10.5374 11.7607 10.6672C11.7159 10.738 11.671 10.8087 11.6262 10.8795C11.6038 10.9149 11.5813 10.9503 11.5589 10.9857C11.5589 10.9975 11.5477 10.9975 11.5477 10.9975C11.5477 10.9975 11.5477 11.0093 11.5365 11.0093C11.3235 11.2806 11.0993 11.5402 10.8527 11.7879C10.7406 11.8941 10.6172 12.0002 10.4939 12.1064L10.4827 12.1182L10.4715 12.13C10.4379 12.1536 10.4042 12.1772 10.3706 12.2008C10.2921 12.2598 10.2137 12.3187 10.1352 12.3659C9.86614 12.5547 9.59708 12.708 9.30561 12.8496C9.28319 12.8614 9.1823 12.9086 9.17109 12.9086C9.11503 12.9322 9.04777 12.9558 8.99172 12.9794C8.83477 13.0384 8.67782 13.0973 8.50967 13.1445C8.37514 13.1799 8.22941 13.2271 8.09488 13.2507C8.01641 13.2625 7.93793 13.2861 7.87067 13.2979C7.83704 13.3097 7.7922 13.3097 7.75856 13.3215C7.73614 13.3215 7.71372 13.3333 7.70251 13.3333C7.39983 13.3687 7.08594 13.3923 6.78325 13.3805C6.62631 13.3805 6.46936 13.3687 6.32362 13.3569C6.25636 13.3451 6.20031 13.3451 6.13304 13.3333L6.12183 13.3333C6.06578 13.3215 6.02094 13.3215 5.96489 13.3097C5.6622 13.2507 5.35952 13.1799 5.06805 13.0737C4.93352 13.0266 4.799 12.9676 4.66447 12.9204C4.64205 12.9086 4.61963 12.8968 4.60842 12.8968C4.57479 12.885 4.54116 12.8614 4.49631 12.8496C4.42905 12.8142 4.35058 12.7788 4.28331 12.7434C4.00305 12.5901 3.72279 12.4131 3.46495 12.2126C3.43132 12.189 3.39769 12.1654 3.36405 12.1418L3.35284 12.13L3.34163 12.1182C3.27437 12.0592 3.21832 12.012 3.15106 11.953C3.02774 11.8351 2.90442 11.7171 2.79232 11.5991C2.68022 11.4812 2.56811 11.3514 2.45601 11.2216C2.39995 11.1509 2.35511 11.0919 2.29906 11.0211L2.28785 11.0093L2.27664 10.9975C2.24301 10.9503 2.20937 10.9031 2.17574 10.8559C1.99638 10.5846 1.82822 10.2897 1.68248 9.99477C1.64885 9.93578 1.62643 9.8768 1.5928 9.80602C1.58159 9.77063 1.55917 9.73524 1.54796 9.68805C1.54796 9.67625 1.53675 9.65266 1.52554 9.62907C1.46948 9.47571 1.41343 9.32235 1.35738 9.15719C1.25648 8.85047 1.18922 8.53196 1.13317 8.20165C1.12196 8.16626 1.12196 8.11907 1.11075 8.08368C1.11075 8.07188 1.11075 8.07188 1.11075 8.07188C1.09954 8.0011 1.09954 7.94212 1.08833 7.87134C1.07712 7.69438 1.06591 7.51743 1.06591 7.34048C1.06591 7.02196 1.06591 6.70345 1.11075 6.39673C1.11075 6.38493 1.11075 6.36134 1.12196 6.34954C1.13317 6.31415 1.13317 6.26697 1.14438 6.23157C1.15559 6.149 1.1668 6.06642 1.18922 5.99564C1.22285 5.83048 1.25648 5.67712 1.30133 5.52376C1.34617 5.37041 1.39101 5.20525 1.44706 5.05189C1.46948 4.98111 1.50311 4.91033 1.52554 4.83955C1.52554 4.83955 1.52554 4.83955 1.52554 4.82775C1.54796 4.78056 1.57038 4.72158 1.5928 4.67439C1.72732 4.36767 1.88427 4.08455 2.06364 3.80142C2.10848 3.73064 2.15332 3.65986 2.19816 3.58908C2.22058 3.55369 2.24301 3.5183 2.26543 3.48291L2.27664 3.47111L2.28785 3.45932C2.38874 3.32955 2.50085 3.18799 2.61295 3.07002C2.84837 2.81049 3.095 2.56276 3.36405 2.35041C3.39769 2.32682 3.43132 2.30322 3.46495 2.27963C3.53221 2.23244 3.59947 2.18526 3.66674 2.13807C3.81247 2.0319 3.95821 1.93752 4.10395 1.85494C4.22726 1.78416 4.36179 1.71338 4.49631 1.6426C4.52994 1.6308 4.56358 1.60721 4.60842 1.59541C4.61963 1.59541 4.64205 1.58362 4.66447 1.57182C4.74294 1.53643 4.81021 1.51284 4.88868 1.47745C5.18015 1.35948 5.48284 1.2769 5.78552 1.20612C5.86399 1.19432 5.94247 1.17073 6.00973 1.15893C6.02094 1.15893 6.07699 1.14713 6.11062 1.13534C6.26757 1.11174 6.43573 1.09995 6.60388 1.08815C6.8393 1.06456 7.1532 1.06456 7.45588 1.09995Z' fill='white'/%3E%3C/svg%3E%0A") center;
      background-size: cover;
    }
    &__form{
      position: absolute;
      left: -140px;
      top: 50%;
      margin-top: -23px;
      z-index: -2;
      transition: all ease 300ms;
      width: 240px;
      opacity: 0;
      visibility: hidden;
      &.is-visible{
        left: -240px;
        z-index: 2;
        opacity: 1;
        visibility: visible;
      }
      .label-search{
        position: relative;

      }
      .input-search{
        color: $primary;
        font-size: 13px;
        padding: 15px 15px 15px 77px ;
        outline: none;
        border: 0;
      }
      .btn-search{
        position: absolute;
        background: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.47389 0.462917C3.10621 1.00557 1.94032 1.98471 1.13317 3.25877C0.370855 4.46205 -0.0215117 5.92486 0.000909321 7.36407C0.0345408 8.81508 0.47175 10.2661 1.29012 11.434C1.51432 11.7525 1.74974 12.0474 2.00759 12.3305C2.99411 13.3687 4.28331 14.0883 5.6622 14.336C7.06351 14.5719 8.47604 14.3832 9.76524 13.758C10.337 13.4866 10.8639 13.1209 11.3347 12.6844C11.4804 12.8378 11.6262 12.9912 11.7719 13.1445C12.3324 13.7344 12.893 14.3242 13.4647 14.9258C14.1373 15.6337 14.8212 16.3533 15.4938 17.0611C16.088 17.6863 16.6709 18.2997 17.2651 18.925C17.5565 19.2317 17.8256 19.5384 18.1283 19.8333L18.1395 19.8451C18.3301 20.0457 18.6664 20.0575 18.8569 19.8451C19.0363 19.6328 19.0587 19.3025 18.8569 19.0901C18.6215 18.8424 18.3861 18.5947 18.1507 18.3469C17.5902 17.7571 17.0296 17.1673 16.4579 16.5656C15.7853 15.8578 15.1014 15.1382 14.4288 14.4304C13.8346 13.8051 13.2517 13.1917 12.6575 12.5665C12.4558 12.3541 12.254 12.13 12.0522 11.9177C12.3549 11.552 12.6239 11.1509 12.8481 10.7262C13.5095 9.46391 13.8234 7.9893 13.6889 6.55009C13.5544 5.05189 12.9939 3.64806 12.0634 2.49198C11.1553 1.37127 9.88856 0.545496 8.53209 0.191591C7.19804 -0.126925 5.75189 -0.056145 4.47389 0.462917ZM7.45588 1.09995C7.52314 1.11174 7.59041 1.11174 7.66888 1.12354C7.68009 1.12354 7.70251 1.12354 7.71372 1.13534C7.74735 1.14713 7.7922 1.14713 7.82583 1.15893C7.98277 1.18253 8.12851 1.21791 8.28546 1.2651C8.57693 1.34768 8.8684 1.44205 9.14866 1.56002C9.17108 1.57182 9.19351 1.58362 9.20472 1.58362C9.23835 1.59541 9.27198 1.61901 9.31682 1.63081C9.38408 1.66619 9.46256 1.70159 9.52982 1.73698C9.67556 1.80776 9.81008 1.89033 9.94461 1.98471C10.0791 2.06729 10.2137 2.16166 10.3482 2.26783C10.3818 2.29143 10.4154 2.31502 10.4491 2.33861L10.4603 2.35041L10.4715 2.36221C10.5388 2.42119 10.5948 2.46838 10.6621 2.52736C10.9199 2.7633 11.1553 3.01104 11.3796 3.28236C11.4244 3.34135 11.4692 3.40033 11.5253 3.45932L11.5365 3.47111L11.5477 3.48291C11.5701 3.5183 11.5925 3.55369 11.615 3.58908C11.7159 3.74244 11.8168 3.884 11.9064 4.04916C11.9849 4.17892 12.0522 4.30869 12.1194 4.45025C12.1531 4.52103 12.1867 4.60361 12.2203 4.67439C12.2315 4.70978 12.254 4.74517 12.2652 4.79236C12.2764 4.80416 12.2764 4.82775 12.2876 4.83955C12.2876 4.83955 12.2876 4.83955 12.2876 4.85134C12.3997 5.15806 12.5006 5.46478 12.5791 5.78329C12.6127 5.92486 12.6463 6.07822 12.6688 6.21978C12.68 6.25517 12.68 6.30236 12.6912 6.33775C12.6912 6.34954 12.6912 6.36134 12.7024 6.38493C12.7136 6.46751 12.7248 6.56189 12.7248 6.64446C12.7472 6.96298 12.7584 7.29329 12.736 7.61181C12.7248 7.76516 12.7136 7.93032 12.6912 8.08368C12.68 8.11907 12.68 8.17805 12.6688 8.18985C12.6575 8.28423 12.6351 8.3786 12.6127 8.47298C12.5454 8.79149 12.467 9.11 12.3549 9.41672C12.3324 9.4875 12.31 9.54649 12.2876 9.61727C12.2764 9.64086 12.2652 9.66446 12.2652 9.67625C12.254 9.71164 12.2315 9.74703 12.2203 9.79422C12.1531 9.94758 12.0858 10.0891 12.0073 10.2425C11.9289 10.3841 11.8504 10.5374 11.7607 10.6672C11.7159 10.738 11.671 10.8087 11.6262 10.8795C11.6038 10.9149 11.5813 10.9503 11.5589 10.9857C11.5589 10.9975 11.5477 10.9975 11.5477 10.9975C11.5477 10.9975 11.5477 11.0093 11.5365 11.0093C11.3235 11.2806 11.0993 11.5402 10.8527 11.7879C10.7406 11.8941 10.6172 12.0002 10.4939 12.1064L10.4827 12.1182L10.4715 12.13C10.4379 12.1536 10.4042 12.1772 10.3706 12.2008C10.2921 12.2598 10.2137 12.3187 10.1352 12.3659C9.86614 12.5547 9.59708 12.708 9.30561 12.8496C9.28319 12.8614 9.1823 12.9086 9.17109 12.9086C9.11503 12.9322 9.04777 12.9558 8.99172 12.9794C8.83477 13.0384 8.67782 13.0973 8.50967 13.1445C8.37514 13.1799 8.22941 13.2271 8.09488 13.2507C8.01641 13.2625 7.93793 13.2861 7.87067 13.2979C7.83704 13.3097 7.7922 13.3097 7.75856 13.3215C7.73614 13.3215 7.71372 13.3333 7.70251 13.3333C7.39983 13.3687 7.08594 13.3923 6.78325 13.3805C6.62631 13.3805 6.46936 13.3687 6.32362 13.3569C6.25636 13.3451 6.20031 13.3451 6.13304 13.3333L6.12183 13.3333C6.06578 13.3215 6.02094 13.3215 5.96489 13.3097C5.6622 13.2507 5.35952 13.1799 5.06805 13.0737C4.93352 13.0266 4.799 12.9676 4.66447 12.9204C4.64205 12.9086 4.61963 12.8968 4.60842 12.8968C4.57479 12.885 4.54116 12.8614 4.49631 12.8496C4.42905 12.8142 4.35058 12.7788 4.28331 12.7434C4.00305 12.5901 3.72279 12.4131 3.46495 12.2126C3.43132 12.189 3.39769 12.1654 3.36405 12.1418L3.35284 12.13L3.34163 12.1182C3.27437 12.0592 3.21832 12.012 3.15106 11.953C3.02774 11.8351 2.90442 11.7171 2.79232 11.5991C2.68022 11.4812 2.56811 11.3514 2.45601 11.2216C2.39995 11.1509 2.35511 11.0919 2.29906 11.0211L2.28785 11.0093L2.27664 10.9975C2.24301 10.9503 2.20937 10.9031 2.17574 10.8559C1.99638 10.5846 1.82822 10.2897 1.68248 9.99477C1.64885 9.93578 1.62643 9.8768 1.5928 9.80602C1.58159 9.77063 1.55917 9.73524 1.54796 9.68805C1.54796 9.67625 1.53675 9.65266 1.52554 9.62907C1.46948 9.47571 1.41343 9.32235 1.35738 9.15719C1.25648 8.85047 1.18922 8.53196 1.13317 8.20165C1.12196 8.16626 1.12196 8.11907 1.11075 8.08368C1.11075 8.07188 1.11075 8.07188 1.11075 8.07188C1.09954 8.0011 1.09954 7.94212 1.08833 7.87134C1.07712 7.69438 1.06591 7.51743 1.06591 7.34048C1.06591 7.02196 1.06591 6.70345 1.11075 6.39673C1.11075 6.38493 1.11075 6.36134 1.12196 6.34954C1.13317 6.31415 1.13317 6.26697 1.14438 6.23157C1.15559 6.149 1.1668 6.06642 1.18922 5.99564C1.22285 5.83048 1.25648 5.67712 1.30133 5.52376C1.34617 5.37041 1.39101 5.20525 1.44706 5.05189C1.46948 4.98111 1.50311 4.91033 1.52554 4.83955C1.52554 4.83955 1.52554 4.83955 1.52554 4.82775C1.54796 4.78056 1.57038 4.72158 1.5928 4.67439C1.72732 4.36767 1.88427 4.08455 2.06364 3.80142C2.10848 3.73064 2.15332 3.65986 2.19816 3.58908C2.22058 3.55369 2.24301 3.5183 2.26543 3.48291L2.27664 3.47111L2.28785 3.45932C2.38874 3.32955 2.50085 3.18799 2.61295 3.07002C2.84837 2.81049 3.095 2.56276 3.36405 2.35041C3.39769 2.32682 3.43132 2.30322 3.46495 2.27963C3.53221 2.23244 3.59947 2.18526 3.66674 2.13807C3.81247 2.0319 3.95821 1.93752 4.10395 1.85494C4.22726 1.78416 4.36179 1.71338 4.49631 1.6426C4.52994 1.6308 4.56358 1.60721 4.60842 1.59541C4.61963 1.59541 4.64205 1.58362 4.66447 1.57182C4.74294 1.53643 4.81021 1.51284 4.88868 1.47745C5.18015 1.35948 5.48284 1.2769 5.78552 1.20612C5.86399 1.19432 5.94247 1.17073 6.00973 1.15893C6.02094 1.15893 6.07699 1.14713 6.11062 1.13534C6.26757 1.11174 6.43573 1.09995 6.60388 1.08815C6.8393 1.06456 7.1532 1.06456 7.45588 1.09995Z' fill='%23122E5A'/%3E%3C/svg%3E%0A") center;
        background-size: cover;
        width: 19px;
        height: 20px;
        left: 34px;
        top: 10px;
      }
    }
    @media screen and (max-width: 992px){
      display: none;
    }
  }
  &-lang{
    margin: 0 auto 0 12px;
    position: relative;
    @media screen and (max-width: 992px){
      margin: 0 50px 0 auto;
    }
    &:hover{
      .header-lang__inside{
        opacity: 1;
        visibility: visible;
        z-index: 1;
      }
    }
    &__cur{
      font-size: 13px;
      text-transform: uppercase;
      line-height: 100%;
      color: $white;
      font-weight: 500;
      cursor: pointer;
    }
    &__inside{
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      position: absolute;
      top: 120%;
      transition: all ease 200ms;
      li, a{
        font-size: 13px;
        text-transform: uppercase;
        line-height: 100%;
        color: $white;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
  &-button{
    cursor: pointer;
    display: flex;
    align-items: center;
    &__title{
      font-size: 13px;
      text-transform: uppercase;
      line-height: 100%;
      color: $white;
      font-weight: 500;
    }
    &__action{
      background: transparent;
      margin-left: 10px;
      width: 24px;
      height: 19px;
      position: relative;
      &:before, &:after{
        content: '';
      }
      &:before, &:after, span{
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        background-color: $white;
        transition: all ease 300ms;
      }
      &:before{
        top: 0;
      }
      span{
        top: calc(50% - 2px);
      }
      &:after{
        top: calc(100% - 3px);
      }

    }
    &.active{
      .header-button__action{
        span{
          opacity: 0;
        }
        &:before{
          top: calc(50% - 2px);
          transform: rotate(-45deg);
        }
        &:after{
          top: calc(50% - 2px);
          transform: rotate(45deg);
        }
      }
      .header-button__title{
        opacity: 0;
      }
    }
  }
  &.sidebar-visible{
    .header-lang, .header-search{
      opacity: 0;
      visibility: hidden;
    }
  }
}
.header-sidebar{
  position: absolute;
  right: -300px;
  top: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: all ease 300ms;
  width: 460px;
  @media screen and (max-width: 992px){
    width: auto;
  }
  @media screen and (max-width: 768px){
    width: 100%;
  }
  &.is-visible{
    right: 0;
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }
  &:after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/new/mobile_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  &__social{
    ul{
      display: flex;
      align-items: center;
    }
    a{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border: 1px solid $white;
      border-left: 0;
      &:hover{
        background-color: $primary;
      }
      @media screen  and (max-width: 992px){
        width: 66px;
        height: 60px;
      }
    }
    li{
      &:first-of-type{
        a{
          border-left: 1px solid $white;
        }
      }
    }
  }
  &__form{
    transition: all ease 300ms;
    width: 240px;
    margin-bottom: 75px;
    position: relative;
    .label-search{
      position: relative;
    }
    .input-search{
      color: $primary;
      font-size: 13px;
      padding: 15px 15px 15px 77px ;
      outline: none;
      border: 0;
    }
    .btn-search{
      position: absolute;
      background: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.47389 0.462917C3.10621 1.00557 1.94032 1.98471 1.13317 3.25877C0.370855 4.46205 -0.0215117 5.92486 0.000909321 7.36407C0.0345408 8.81508 0.47175 10.2661 1.29012 11.434C1.51432 11.7525 1.74974 12.0474 2.00759 12.3305C2.99411 13.3687 4.28331 14.0883 5.6622 14.336C7.06351 14.5719 8.47604 14.3832 9.76524 13.758C10.337 13.4866 10.8639 13.1209 11.3347 12.6844C11.4804 12.8378 11.6262 12.9912 11.7719 13.1445C12.3324 13.7344 12.893 14.3242 13.4647 14.9258C14.1373 15.6337 14.8212 16.3533 15.4938 17.0611C16.088 17.6863 16.6709 18.2997 17.2651 18.925C17.5565 19.2317 17.8256 19.5384 18.1283 19.8333L18.1395 19.8451C18.3301 20.0457 18.6664 20.0575 18.8569 19.8451C19.0363 19.6328 19.0587 19.3025 18.8569 19.0901C18.6215 18.8424 18.3861 18.5947 18.1507 18.3469C17.5902 17.7571 17.0296 17.1673 16.4579 16.5656C15.7853 15.8578 15.1014 15.1382 14.4288 14.4304C13.8346 13.8051 13.2517 13.1917 12.6575 12.5665C12.4558 12.3541 12.254 12.13 12.0522 11.9177C12.3549 11.552 12.6239 11.1509 12.8481 10.7262C13.5095 9.46391 13.8234 7.9893 13.6889 6.55009C13.5544 5.05189 12.9939 3.64806 12.0634 2.49198C11.1553 1.37127 9.88856 0.545496 8.53209 0.191591C7.19804 -0.126925 5.75189 -0.056145 4.47389 0.462917ZM7.45588 1.09995C7.52314 1.11174 7.59041 1.11174 7.66888 1.12354C7.68009 1.12354 7.70251 1.12354 7.71372 1.13534C7.74735 1.14713 7.7922 1.14713 7.82583 1.15893C7.98277 1.18253 8.12851 1.21791 8.28546 1.2651C8.57693 1.34768 8.8684 1.44205 9.14866 1.56002C9.17108 1.57182 9.19351 1.58362 9.20472 1.58362C9.23835 1.59541 9.27198 1.61901 9.31682 1.63081C9.38408 1.66619 9.46256 1.70159 9.52982 1.73698C9.67556 1.80776 9.81008 1.89033 9.94461 1.98471C10.0791 2.06729 10.2137 2.16166 10.3482 2.26783C10.3818 2.29143 10.4154 2.31502 10.4491 2.33861L10.4603 2.35041L10.4715 2.36221C10.5388 2.42119 10.5948 2.46838 10.6621 2.52736C10.9199 2.7633 11.1553 3.01104 11.3796 3.28236C11.4244 3.34135 11.4692 3.40033 11.5253 3.45932L11.5365 3.47111L11.5477 3.48291C11.5701 3.5183 11.5925 3.55369 11.615 3.58908C11.7159 3.74244 11.8168 3.884 11.9064 4.04916C11.9849 4.17892 12.0522 4.30869 12.1194 4.45025C12.1531 4.52103 12.1867 4.60361 12.2203 4.67439C12.2315 4.70978 12.254 4.74517 12.2652 4.79236C12.2764 4.80416 12.2764 4.82775 12.2876 4.83955C12.2876 4.83955 12.2876 4.83955 12.2876 4.85134C12.3997 5.15806 12.5006 5.46478 12.5791 5.78329C12.6127 5.92486 12.6463 6.07822 12.6688 6.21978C12.68 6.25517 12.68 6.30236 12.6912 6.33775C12.6912 6.34954 12.6912 6.36134 12.7024 6.38493C12.7136 6.46751 12.7248 6.56189 12.7248 6.64446C12.7472 6.96298 12.7584 7.29329 12.736 7.61181C12.7248 7.76516 12.7136 7.93032 12.6912 8.08368C12.68 8.11907 12.68 8.17805 12.6688 8.18985C12.6575 8.28423 12.6351 8.3786 12.6127 8.47298C12.5454 8.79149 12.467 9.11 12.3549 9.41672C12.3324 9.4875 12.31 9.54649 12.2876 9.61727C12.2764 9.64086 12.2652 9.66446 12.2652 9.67625C12.254 9.71164 12.2315 9.74703 12.2203 9.79422C12.1531 9.94758 12.0858 10.0891 12.0073 10.2425C11.9289 10.3841 11.8504 10.5374 11.7607 10.6672C11.7159 10.738 11.671 10.8087 11.6262 10.8795C11.6038 10.9149 11.5813 10.9503 11.5589 10.9857C11.5589 10.9975 11.5477 10.9975 11.5477 10.9975C11.5477 10.9975 11.5477 11.0093 11.5365 11.0093C11.3235 11.2806 11.0993 11.5402 10.8527 11.7879C10.7406 11.8941 10.6172 12.0002 10.4939 12.1064L10.4827 12.1182L10.4715 12.13C10.4379 12.1536 10.4042 12.1772 10.3706 12.2008C10.2921 12.2598 10.2137 12.3187 10.1352 12.3659C9.86614 12.5547 9.59708 12.708 9.30561 12.8496C9.28319 12.8614 9.1823 12.9086 9.17109 12.9086C9.11503 12.9322 9.04777 12.9558 8.99172 12.9794C8.83477 13.0384 8.67782 13.0973 8.50967 13.1445C8.37514 13.1799 8.22941 13.2271 8.09488 13.2507C8.01641 13.2625 7.93793 13.2861 7.87067 13.2979C7.83704 13.3097 7.7922 13.3097 7.75856 13.3215C7.73614 13.3215 7.71372 13.3333 7.70251 13.3333C7.39983 13.3687 7.08594 13.3923 6.78325 13.3805C6.62631 13.3805 6.46936 13.3687 6.32362 13.3569C6.25636 13.3451 6.20031 13.3451 6.13304 13.3333L6.12183 13.3333C6.06578 13.3215 6.02094 13.3215 5.96489 13.3097C5.6622 13.2507 5.35952 13.1799 5.06805 13.0737C4.93352 13.0266 4.799 12.9676 4.66447 12.9204C4.64205 12.9086 4.61963 12.8968 4.60842 12.8968C4.57479 12.885 4.54116 12.8614 4.49631 12.8496C4.42905 12.8142 4.35058 12.7788 4.28331 12.7434C4.00305 12.5901 3.72279 12.4131 3.46495 12.2126C3.43132 12.189 3.39769 12.1654 3.36405 12.1418L3.35284 12.13L3.34163 12.1182C3.27437 12.0592 3.21832 12.012 3.15106 11.953C3.02774 11.8351 2.90442 11.7171 2.79232 11.5991C2.68022 11.4812 2.56811 11.3514 2.45601 11.2216C2.39995 11.1509 2.35511 11.0919 2.29906 11.0211L2.28785 11.0093L2.27664 10.9975C2.24301 10.9503 2.20937 10.9031 2.17574 10.8559C1.99638 10.5846 1.82822 10.2897 1.68248 9.99477C1.64885 9.93578 1.62643 9.8768 1.5928 9.80602C1.58159 9.77063 1.55917 9.73524 1.54796 9.68805C1.54796 9.67625 1.53675 9.65266 1.52554 9.62907C1.46948 9.47571 1.41343 9.32235 1.35738 9.15719C1.25648 8.85047 1.18922 8.53196 1.13317 8.20165C1.12196 8.16626 1.12196 8.11907 1.11075 8.08368C1.11075 8.07188 1.11075 8.07188 1.11075 8.07188C1.09954 8.0011 1.09954 7.94212 1.08833 7.87134C1.07712 7.69438 1.06591 7.51743 1.06591 7.34048C1.06591 7.02196 1.06591 6.70345 1.11075 6.39673C1.11075 6.38493 1.11075 6.36134 1.12196 6.34954C1.13317 6.31415 1.13317 6.26697 1.14438 6.23157C1.15559 6.149 1.1668 6.06642 1.18922 5.99564C1.22285 5.83048 1.25648 5.67712 1.30133 5.52376C1.34617 5.37041 1.39101 5.20525 1.44706 5.05189C1.46948 4.98111 1.50311 4.91033 1.52554 4.83955C1.52554 4.83955 1.52554 4.83955 1.52554 4.82775C1.54796 4.78056 1.57038 4.72158 1.5928 4.67439C1.72732 4.36767 1.88427 4.08455 2.06364 3.80142C2.10848 3.73064 2.15332 3.65986 2.19816 3.58908C2.22058 3.55369 2.24301 3.5183 2.26543 3.48291L2.27664 3.47111L2.28785 3.45932C2.38874 3.32955 2.50085 3.18799 2.61295 3.07002C2.84837 2.81049 3.095 2.56276 3.36405 2.35041C3.39769 2.32682 3.43132 2.30322 3.46495 2.27963C3.53221 2.23244 3.59947 2.18526 3.66674 2.13807C3.81247 2.0319 3.95821 1.93752 4.10395 1.85494C4.22726 1.78416 4.36179 1.71338 4.49631 1.6426C4.52994 1.6308 4.56358 1.60721 4.60842 1.59541C4.61963 1.59541 4.64205 1.58362 4.66447 1.57182C4.74294 1.53643 4.81021 1.51284 4.88868 1.47745C5.18015 1.35948 5.48284 1.2769 5.78552 1.20612C5.86399 1.19432 5.94247 1.17073 6.00973 1.15893C6.02094 1.15893 6.07699 1.14713 6.11062 1.13534C6.26757 1.11174 6.43573 1.09995 6.60388 1.08815C6.8393 1.06456 7.1532 1.06456 7.45588 1.09995Z' fill='%23122E5A'/%3E%3C/svg%3E%0A") center;
      background-size: cover;
      width: 19px;
      height: 20px;
      left: 34px;
      top: 10px;
    }
  }
  &__nav{
    margin-bottom: 60px;
    li{
      margin-bottom: 44px;
      text-align: center;
      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
      }
    }
    a{
      display: flex;
      align-items: center;
      font-size: 13px;
      text-transform: uppercase;
      line-height: 100%;
      color: $white;
      font-weight: 500;
      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
      }
        .flag-ua{
        margin-left: 7px;
        width: 15px;
        height: 13px;
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='15' height='6.22222' fill='%23007EFF'/%3E%3Crect y='6.22217' width='15' height='6.22222' fill='%23FFD600'/%3E%3C/svg%3E%0A");

      }
      &:hover{
        color: $primary-300;
      }
    }
  }
}